#root {
  display: flex;
  flex-direction: column;
}

#item-root {
  display: flex;
  flex-direction: row;
  height: 150px;
  margin: 5px;
}

#img-root {
  position: relative;
  width: 50%;
  height: 95%;
}

#imgs {
  width: 100%;
  height: 95%;

}

#text-time {
  position: absolute;
  bottom: 15px;
  right: 5px;
  color: #fff;
}

#text-container {
  width: 50%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
}


#title-text {
  color: #000000;
  font-size: 1.3rem;
}

#desc-text {
  color: #939393;
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}