#root {
  display: flex;
  flex-direction: column;
}

#root-container {
  position: relative;

  #cover-root {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    #cover-title {
      background-color: #2e8ded;
      width: fit-content;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 5px;
      color: #ffffff;
    }
  }

  #show-cover {
    position: absolute;
    width: 100%;
    height: 917px;
    display: flex;
    flex-direction: column;
    top: 44px;
    background-color: #99999999;
  }

  #hidder-cover {
    display: none;
  }


}


#item-root {
  display: flex;
  flex-direction: row;
  height: 150px;
  margin: 5px;
}

#img-root {
  position: relative;
  width: 50%;
  margin: 10px;
  height: 95%;
}

#imgs {
  width: 100%;
  height: 95%;

}

#text-time {
  position: absolute;
  bottom: 15px;
  right: 5px;
  color: #fff;
}

#text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
}


#title-text {
  margin-top: 15px;
  color: #000000;
  font-size: 1.3rem;
}

#desc-text {
  color: #939393;
  font-size: 1.2rem;
  display: -webkit-box;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-right: 20px;
  overflow: hidden;
}

